@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline !important;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(231, 231, 230, 0.623);
}

.logo {
  position: absolute;
  right: 29px;
  display: block;
  padding-left: 50px;
  margin: 0 0 5px 10px;
  z-index: 1000;
}

.flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

.container {
  padding: 0 29px;
  position: relative;
  min-width: 364px;
}

nav {
  margin-top: 20px;
  margin-bottom: 30px;
}
nav .nav__icon {
  position: relative;
  cursor: pointer;
}
nav .nav__icon .nav__sub {
  display: block;
  position: absolute;
  background-color: #000;
  z-index: 10;
  top: 2rem;
  left: 0;
  width: 90%;
  padding: 20px;
  font-size: 1rem;
}
nav .nav__icon .nav__sub li {
  margin-bottom: 8px;
  margin-left: 10px;
}
nav .nav__icon .nav__sub li a {
  text-decoration: none;
  padding-left: 25px;
  color: #fff;
  background: url(warning.png) no-repeat;
  background-size: contain;
  background-position: left center;
}
nav .nav__icon span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000;
  margin-bottom: 5px;
  transition: 0.5s;
}
nav .cross span {
  margin: -4px;
}
nav .cross span:first-child {
  margin-top: 30px;
  transform: rotate(-43deg);
}
nav .cross span {
  transform: rotate(43deg);
}

section {
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  min-height: 215px;
  max-width: 600px;
  width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
section h2 {
  color: white;
  margin-top: 2.9rem;
  margin-left: 0.8rem;
  font-size: 0.9rem;
  width: 50%;
  max-width: 300px;
}
section img {
  margin: 50px 5px 40px 0;
  position: absolute;
  right: 1rem;
}

.calc {
  background: url(maxresdefault.png) no-repeat;
  background-size: 100%;
}
.calc .subSection {
  display: none;
  flex: none;
  position: absolute;
  top: 50px;
  padding: 30px 18px;
  background-color: #696666;
  list-style: none;
  border-radius: 15px;
  width: 100%;
}
.calc .subSection a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  min-width: 300px;
}
.calc .subSection li {
  margin-bottom: 10px;
  padding-left: 20px;
  background: url(calculator.png) no-repeat;
  background-size: 15px;
  background-position: left center;
}

.firstMove {
  background: url(road.png) no-repeat;
  background-size: 100%;
}
.firstMove h2 {
  margin-top: 5rem;
}
.firstMove h2 a {
  color: white;
  text-decoration: none;
}
.firstMove h2 a:hover {
  text-decoration: none !important;
}

.info {
  background: url(road11.png) no-repeat;
  background-size: 100%;
}
.info .subSection {
  display: none;
  flex: none;
  position: absolute;
  top: 50px;
  padding: 30px 18px;
  background-color: #1D1D1D;
  list-style: none;
  border-radius: 15px;
  width: 100%;
}
.info .subSection a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  min-width: 300px;
}
.info .subSection li {
  margin-bottom: 10px;
  padding-left: 20px;
  background: url(calculator.png) no-repeat;
  background-size: 15px;
  background-position: left center;
}

footer {
  clear: both;
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 10px 0;
}
footer span {
  display: block;
}
footer span:first-child {
  text-decoration: underline;
}

.m-width {
  max-width: 1024px;
  margin: 0 auto;
}

.calcbreack {
  overflow: hidden;
  padding: 50px 20px;
  border: 1px inset #b8b7b7;
  text-align: center;
  background: url(put_tormoz-min.jpeg) no-repeat;
  background-size: cover;
}
.calcbreack .input {
  width: 90%;
  height: 25px;
  border: 1px solid #000;
  margin: 0 auto 15px;
  border-radius: 15px;
  background-color: #fff;
}
.calcbreack .lable {
  margin-bottom: 10px;
}
.calcbreack .btn {
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.calcbreack .animateCar {
  display: block;
  width: 40px;
  margin-left: -30px;
}

@keyframes move_eye {
  30% {
    transform: rotate(5deg);
  }
  100% {
    margin-left: 80%;
  }
}
header {
  margin: 0 auto;
  text-align: center;
  max-width: 1024px;
}

article {
  font-family: "Merriweather", serif;
  max-width: 1024px;
  margin: 0 auto;
}
article img {
  width: 50%;
  max-width: 400px;
  float: right;
  margin: 0.5rem 0 0.5rem 1rem;
}
article p {
  text-indent: 1.5em;
  margin-top: 1rem;
  text-align: justify;
  font-size: 1rem;
}
article h1 {
  margin: 15px 0;
}
article ul {
  margin: 5px 0 0 1rem;
  text-align: justify;
}
article li {
  margin-bottom: 5px;
}
article .img100 {
  float: none;
  width: 100%;
  max-width: 100%;
}

/* запросы mobile first */
/* стили для любой ширины */
/* стили для ширины крупнее мобильных */
/* стили для ширины 400 пикселов и выше */
@media (max-width: 433px) {
  section {
    min-height: 200px;
  }
  section h2 {
    font-size: 0.7rem;
  }
  section img {
    right: 0.5rem;
    width: 120px;
  }

  .calc .subSection a {
    font-size: 0.7rem;
    min-width: 100px;
  }

  .info .subSection a {
    font-size: 0.7rem;
    min-width: 100px;
  }
}
/* стили для ширины крупнее фаблетов */
/* стили для ширины 550 пикселов и выше */
@media (min-width: 550px) {
  header {
    font-size: 1.5rem;
  }

  article p {
    font-size: 1.2rem;
  }
  article ul {
    font-size: 1.2rem;
  }
  article h1 {
    margin: 30px 0;
  }

  section h2 {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
  section img {
    right: 2rem;
  }

  .calc .subSection a {
    font-size: 0.7rem;
    min-width: 100px;
  }

  .info .subSection a {
    font-size: 0.7rem;
    min-width: 100px;
  }
}
/* стили для ширины крупнее планшетов */
/* стили для ширины 750 пикселов и выше */
/* стили для ширины крупнее компьютерных мониторов */
/* стили для ширины 1000 пикселов и выше */
/* стили для ширины крупнее компьютерных HD-мониторов */
/* стили для ширины 1200 пикселов и выше */